.create-container {
    & > *{
        padding: 10px 10px 10px 10px;
    }
}

.left {
    text-align: left;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.input-width {
    min-width: 200px;
}

.submit-button {
    min-width: 300px;
}

.create-input {
    padding-bottom: 5px;
}

.upload-image {
    width: 200px;
    height: 200px;
}

.setting-item {
    
}

