.create-container {
    & > *{
        padding: 10px 10px 10px 10px;
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.input-width {
    min-width: 200px;
}

.submit-button {
    min-width: 300px;
}