.create-container {
    & > *{
        padding: 10px 10px 10px 10px;
    }
}

.left {
    text-align: left;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.input-width {
    min-width: 200px;
}

.submit-button {
    min-width: 300px;
}

img {
    pointer-events: none;
}

.create-input {
    padding-bottom: 10px;
    padding-top: 10px;
}

.upload-image {
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
}

.setting-item {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.profile-input {
    display: none;
}


.profile-label {
    cursor: pointer;
    border: .5px solid grey;
    border-radius: .2cm;
    padding: 10px;
    &:hover {
        transition: 1s;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background-color: rgba(#1976d2, 1)
    }
}

