.discuss-container {
    padding-top: 45px;
    padding-left: 5vw;
    padding-right: 10vw;
}

.comment-container {
    padding: 10px;
}

.dialog-text {
    background-color: white;
    border: .2px solid black;
}

.add-comment-container {
    padding: 5px;
}