.container.body-container {
    min-height: 90vh;
    width: 100%;
    background-image: url(../../Data/Images/background.jpg);
};

.fixed-top {
    top: 0px;
    position: fixed;
}

.padding {
    padding-left: 30px;
    padding-right: 30px;
}

.right {
    display: flex;
    justify-content: right;
}

.filter-button {
    background-color: white;
    color: black;
    border: black;
    width: 15%;
    display: flex;
    justify-content: center;
    font-family: roboto;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.filter-button-containter {
    padding-left: 0px;
}

.post-margin {
    margin-top: 38vh;
}

.filter-container {
    width: 102.5%;
}