.container.body-container {
    min-height: 90vh;
    width: 100%;
    background-image: url(../../Data/Images/background.jpg);
};

.fixed-top {
    top: 0px;
    position: fixed;
}

.padding {
    padding-left: 30px;
    padding-right: 30px;
}

.right {
    display: flex;
    justify-content: right;
}