.reviews-container {
    padding: 20px;
}

.right-border-md {
    border-right: 1px solid black;
    height: 30vh;
}

.review-item {
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    padding: 20px;
}