.post-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 20px;
    min-height: 30%;
    min-width: 30%;
    background-size: 100% 100%;
}

.post-container:hover {
    opacity: .3;
}

.post-container.bm {
    background-image: url('../../../Data/Constants/images/bm.jpg');
    color: white !important;
}

a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.link {
    text-decoration: none !important;
    font-size: 2em;;
    color: lightgray;
    display:grid;
}

.price {
    grid-column: 2;
    margin-top: 45%;
    text-align: right;
}

.title-text {
    grid-column: 2;
    text-align: left;
}

.color-red {
    color: red !important;
}

.color-green {
    color: lightgreen !important;
}

.post-container.brs {
    background-image: url('../../../Data/Constants/images/brs.jpg');
    color: white;
}

.post-container.mw {
    background-image: url('../../../Data/Constants/images/mw.jpg');
    color: white;
}

.post-container.jk {
    background-image: url('../../../Data/Constants/images/jk.png');
    color: white;
    
}

.post-container.hom {
    background-image: url('../../../Data/Constants/images/hom.jpg');
    color: white;
}

.post-container.bs {
    background-image: url('../../../Data/Constants/images/bs.jpg');
    color: black;
}

.post-container.squid {
    background-image: url('../../../Data/Constants/images/squid.jpg');
    color: black;
}

.post-container.bbb {
    background-image: url('../../../Data/Constants/images/bbb.jpg');
    color: white;
}

.post-container.nrb {
    background-image: url('../../../Data/Constants/images/nrb.jpg');
    color: white;
}

.post-container.kershaw {
    background-image: url('../../../Data/Constants/images/kershaw.jpg');
    color: black;
}

.post-container.bradley {
    background-image: url('../../../Data/Constants/images/bradley.jpg');
    color: black;
}