.post-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 35vw;
    background-size: 100% 100%;
    padding: 0px !important;
    border: .5px solid black;
}

.fake-background {
    height: 100%;
    width: 100%;
    &:hover {
        background-color: rgb(white, .3);
        transition-duration: .5s;
        .hidden-text {
            visibility: visible;
            opacity: 1;
        }
    }
}

a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.delete-modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-modal {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-input {
    margin: 10px;
}

.modal-background {
    border: 2px solid black;
    background-color: white;
    padding: 10px;
}

.modal-title {
    padding-bottom: 20px;
}

.left-align {
    text-align: left;
}

.link {
    text-decoration: none !important;
    color: darkorange;
    display: grid;
}

.delete-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.delete {
    font-size: 3vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: Verdana;
    box-shadow: -2px 1px 3px rgb(black, .8);
    width: 40px;
    height: 40px;
}

.price-container {
    font-size: 150%;
    display: flex;
    align-items: end;
}

.price {
    display: flex;
    align-items: center;
    background-color: white;
    border-top: 1px solid black;
    border-right: 1px solid black;
    
    opacity: .3;
    padding: 0px;
    font-size: 20px;
}

.edit-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.edit {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    box-shadow: -1px -1px 2px rgb(black, .8);
    width: 40px;
    height: 40px;
    :hover {
        color: blue;
    }
}

.title-text {
    font-size: 3vw;
    text-align: left;
    padding-left: 35px;
}

.hidden-text {
    visibility: hidden;
    opacity: 0;
}

.color-red {
    color: red !important;
}

.color-green {
    color: green !important;
}

.color-black {
    color: black !important;
}
