.info-container{
    margin-left: auto;
    margin-right: auto;
}

.info-label {
    text-align: right;
    padding-right: 0px;
}

.info-value {
    text-align: left;
    padding-left: 0px;
}

.image-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 20px;
    height: 400px;
    background-repeat: none;
    background-size: 100% 100%;
}

.bm {
    background-image: url('../../Data/Constants/images/bm.jpg');
}

.brs {
    background-image: url('../../Data/Constants/images/brs.jpg');
}

.mw {
    background-image: url('../../Data/Constants/images/mw.jpg');
}

.jk {
    background-image: url('../../Data/Constants/images/jk.png');
}

.hom {
    background-image: url('../../Data/Constants/images/hom.jpg');
}

.bs {
    background-image: url('../../Data/Constants/images/bs.jpg');
}

.squid {
    background-image: url('../../Data/Constants/images/squid.jpg');
}

.bbb {
    background-image: url('../../Data/Constants/images/bbb.jpg');
}

.nrb {
    background-image: url('../../Data/Constants/images/nrb.jpg');
}

.kershaw {
    background-image: url('../../Data/Constants/images/kershaw.jpg');
}

.bradley {
    background-image: url('../../Data/Constants/images/bradley.jpg');
}