.filter-title {
    text-align: center;
}

.filter-item {
    padding: 5px;
}

.price-input {
    width: 100%;
}

.select-width {
    width: 100%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}


.filter-container {
    border: 1px solid black;
    padding: 0px;
    background-color: white;
}