.filter-exit-button {
}

.filter-item {
    padding: 5px;
    font-family: open sans;
}

.reset-button {
    width: 100%;
}

.price-input {
    width: 100%;
}

.select-width {
    width: 100%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.filter-content {
    padding-left: 40px;
    padding-right: 40px;
}

.filter-container {
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
    border-top: none;
    display: grid;
    background-color: white;
    padding: 10px;
    max-width: 101.1%;
}

.bottom-margin {
    margin-bottom: 5px;
}

.dropdown {
    padding-bottom: 15px;
}