.filter-title {
    text-align: center;
}

.filter-item {
    padding: 5px;
    font-family: open sans;
}

.reset-button{
    width: 100%;
}

.price-input {
    width: 100%;
}

.select-width {
    width: 100%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}


.filter-container {
    border: 1px solid black;
    border-top: none;
    padding: 0px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    max-height: 300px;
}