.App-header {
  background-color: white;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  // box-shadow: 0 1px 2px rgb(0 0 0 / 13%), 0 0px 2px rgb(0 0 0 / 8%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container{
  margin-left: 0px;
  margin-right: 0px;
  min-width: 100%;
}

.remove-right-padding {
  padding-right: 0px;
}

.pointer {
  cursor: pointer;
  &:hover {
    color: blue;
  }
}

.popover-container{
  padding: 10px;
}

.popover-language-container {
  padding: 10px;
  max-height: 300px;
  max-width: 154px;
  overflow-y: scroll;
}

.popover-language-container * {
  text-transform: none;
}

.login-container button {
  min-width: 40px !important;

}
.account-dropdown button {
  width: 100%;
  position: flex;
  justify-content: flex-start;
}

.popover-language-container::-webkit-scrollbar {
  display: none;
}

.center {
  text-align: center;
}

.icon-padding {
  padding-top: 5px;
}

.right {
  text-align: right;
}

.nav-bar {
  margin-left: 0;
  background-color: red;
  font-size:20px;
}

.title {
  font-size: 40px;
  color: red;
}

@media screen and (max-width: 700px) {
  .title {
    display: none;
  }

  .login-container-left button {
    min-width: 40px;
  }

  .login-container-right button {
    min-width: 40px;
  }
}

.white {
  color: white;
}

.account-dropdown {
  padding: 0 10px 0 10px;  
}

.search-results-container {
  padding: 10px;
  max-height: 190px;
  overflow-y: auto;
}

.left {
  text-align: left;
}

.visible {
  opacity: 1;
  visibility: visible;
  display: block;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.account-profile {
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  border: .1em solid rgba(0,0,0,.2);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
}

.user-account-profile {
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  border-radius: 2vw;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
}

.user-account-profile-col {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -50px 36px -28px inset, rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em;
  display: flex;
  height: 250px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.contact-outer-container {
  border-right: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -50px 36px -28px inset, rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em;
  // min-height: 35vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.social-media-container {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  .item {
    margin-top: 15px;
  }
}

.profile-image {
  margin: auto;
}

.user-profile-container {
  // margin-top: 20px;
}

.popover-item {
  border: 1px solid black;
  &:hover {
    background-color: rgba(#1976d2, .3)
  }
}

.report-vouch-buttons {
  width: 95%;
  position: absolute;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.map-col-container {
  box-shadow: rgba(0, 0, 0, 0.05) 0px -50px 36px -28px inset, rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em;
  padding-top: 20px;
  height: 250px;
}

.map-container {
  display: flex;
  justify-content: center;
  padding: 0px 30px 30px 30px;
  max-height: 500px;
}

.info-dropdown {
  display: flex;
  padding-left: 30px;
  padding-top: 30px;
  h2 {
      cursor: pointer;
  }
}

.loc-pin {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 15px;
  padding-right: 5px;
  color: lightgrey;
  font-size: 16px;
}

.user-full-name {
  flex: 0 0 auto;
}

.user-full-name-loc {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.setting-icon {
  margin-bottom: 5px;
}

.popover-text {
  color: black;
}

.login-container-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-container-right {
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.popover-container button {
  text-transform: none;
}

.login-container-left button {
  text-transform: none;
}

hr {
  margin: 10;
}

.menu-icon {
  display: flex;
  align-items: center;
}

.language-title {
  border-bottom: 1px solid black;
}

.post-link {
  cursor: pointer;
  color: blue;
}