.contact-container {
    // display: flex;
    // justify-content: center;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: 100vw 100vh; 
    height: 88vh;
}

.contact-card {
    padding: 20px;
    width: 600px;
    height: 375px;
    background-color: rgba(255, 255, 255, .2);
}

#contact-header {
    padding: 10px;
}

#contact-title-input {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 0px;
}

#contact-description-input {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 0px;
}