.profile-input {
    display: none;
}

.profile-label {
    cursor: pointer;
    border: .5px solid grey;
    border-radius: .2cm;
    padding: 10px;
    &:hover {
        transition: 1s;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background-color: rgba(#1976d2, 1)
    }
}

.settings-container {
    margin-top: 15px;
}

.map-container {
    display: flex;
    justify-content: center;
}

.setting-item {
    padding-bottom: 20px;
    & div {
        min-height: 55px;
    }
}

.info-dropdown {
    display: flex;
    padding: 30px 0px 0px 30px;
    h2 {
        cursor: pointer;
    }
}

.submit-button {
    padding-top: 30px;
}

.upload-image {
    width: 200px;
    height: 200px;
    border-radius: 2vw;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.upload-image:hover {
    animation: 3s infinite alternate pulse;
    
}

.setting-header-container {
    background-color: #0b5ed7;
    width: 100%;
    height: 100px;
}

.setting-header {
    color: white;
    padding: 35px 10vw 10vw 10vw;
}

.setting-padding {
    padding: 10px 10vw 0vw 10vw;
}

@keyframes pulse {
    0% {
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.0);
    }
    10%{
        box-shadow: 0px 0px 11px 11px rgba(18, 29, 254, .05);
    }
    20%{
        box-shadow: 0px 0px 11px 11px rgba(18, 29, 254, 0.1);
    }
    30%{
        box-shadow: 0px 0px 11px 11px rgba(18, 29, 254, 0.15);
    }
    40%{
        box-shadow: 0px 0px 11px 11px rgba(18, 29, 254, 0.2);
    }
    50%{
        box-shadow: 0px 0px 11px 11px rgba(18, 29, 254, 0.25);
    }
    60%{
        box-shadow: 0px 0px 11px 11px rgba(18, 29, 254, 0.2);
    }
    70%{
        box-shadow: 0px 0px 11px 11px rgba(18, 29, 254, 0.15);
    }
    80%{
        box-shadow: 0px 0px 11px 11px rgba(18, 29, 254, 0.1);
    }
    90%{
        box-shadow: 0px 0px 11px 11px rgba(18, 29, 254, 0.05);
    }
    100%{
        box-shadow: 0px 0px 11px 11px rgba(18, 29, 254, 0.0);
    }
}

.profile-image-update {
    align-items: center;
    justify-content: center;
}

.profile-image-update label {
    cursor: pointer;
}