.profile-input {
    display: none;
}

.profile-label {
    cursor: pointer;
    border: .5px solid grey;
    border-radius: .2cm;
    padding: 10px;
    &:hover {
        background-color: rgba(#1976d2, .3)
    }
}

.settings-container {
    margin-top: 15px;
}

.map-container {
    display: flex;
    justify-content: center;
}

.setting-item {
    padding-bottom: 20px;
}

.info-dropdown {
    display: flex;
    padding: 10px;
    h2 {
        cursor: pointer;
    }
}

.submit-button {
    padding-bottom: 10px;
}

.upload-image {
    width: 200px;
    height: 200px;
}

.profile-image-update {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-update label {
    cursor: pointer;
}