.profile-input {
    display: none;
}

.profile-label {
    cursor: pointer;
    border: .5px solid grey;
    border-radius: .2cm;
    padding: 10px;
    &:hover {
        transition: 1s;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background-color: rgba(#1976d2, 1)
    }
}

.settings-container {
    margin-top: 15px;
}

.map-container {
    display: flex;
    justify-content: center;
}

.setting-item {
    padding-bottom: 20px;
}

.info-dropdown {
    display: flex;
    padding: 30px 0px 0px 30px;
    h2 {
        cursor: pointer;
    }
}

.submit-button {
    padding-top: 30px;
}

.upload-image {
    width: 200px;
    height: 200px;
    border-radius: 2vw;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.profile-image-update {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-update label {
    cursor: pointer;
}